.modal-backdrop {
    z-index: 10;
}

.animate__animated {
    animation-duration: .1s;
}

section {
    position: absolute;
    z-index: 10;
    width: 100%;
    text-align: center;
}

.box {
    display: inline-block;
    text-align: left;
    color: #fff;
    border-radius: 8px;
    z-index: 11;
    background: #272727;
    max-width: 600px;
}
