<article #article class="animate__animated animate__fadeIn p-4 h-100 border-right">
    <div>
        <button (click)="onClose()" [disabled]="isFetching" class="btn close p-1" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h1 class="display-4 mb-4 mt-4">Artist Create</h1>
    <form [formGroup]="createArtistForm" class="p-3">
        <!-- Error message -->
        <div *ngIf="!!errorMessage" class="text-center">
            <p class="alert-danger d-inline-block p-3">
                <span>{{ errorMessage }}</span>
            </p>
        </div>

        <div class="mt-5">
            <!-- Preferred nickname -->
            <div class="mb-3">
                <input class="form-input" formControlName="preferredNickname" placeholder="Preferred nickname"
                       type="text"/>
            </div>

            <!-- Avatar upload -->
            <form (dragenter)="onFileDragEnter()" (dragleave)="onFileDragLeave()"
                  (dragover)="onFileDragOver($event)" (drop)="onFileDrop($event)"
                  [formGroup]="artistAvatarFileForm" appDropArea class="mb-3">
                <!-- Workaround for styling input[type=file] -->
                <label class="form-input file" for="file">
                    <fa-icon [icon]="uploadIcon" class="me-1"></fa-icon>
                    <span [innerText]="(!!this.selectedFile) ? selectedFile.name : 'Select avatar'"></span>
                </label>

                <input (change)="onFileSelected($event)" class="d-none" formControlName="avatarFile"
                       id="file" type="file">
            </form>

            <form [formGroup]="selectNicknameForm" class="mb-3 mt-2 text-start">
                <div>
                    <input (keyup.enter)="onArtistNicknameSelect()" class="form-input nickname"
                           formControlName="nickname"
                           placeholder="Nickname" type="text"/>

                    <fa-icon (click)="onArtistNicknameSelect()" [icon]="plusIcon" class="form-input add"></fa-icon>
                </div>

                <ul class="list-group">
                    <li *ngFor="let nickname of this.selectedNicknames"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        {{ nickname }}
                        <span (click)="onNicknameRemove(nickname)" class="badge badge-primary badge-pill">x</span>
                    </li>
                </ul>
            </form>
            <button (click)="onSubmit()" [disabled]="isFetching" class="btn btn-accent"
                    type="button">
                <fa-icon *ngIf="isFetching" [fixedWidth]="true" [icon]="spinnerIcon" [spin]="true" class="text-white"
                         size="sm"></fa-icon>
                <span *ngIf="!isFetching">Create</span>
            </button>
        </div>
    </form>
</article>
