ul li, .cdk-drag-preview {
    user-select: none;
    background: rgba(50, 50, 50, 0.9);
    color: rgba(255, 255, 255, 0.9);
    border: none;
}

.filename {
    word-wrap: break-word;
}

ul li .badge, .cdk-drag-preview .badge {
    background: dodgerblue;
    cursor: pointer;
    height: 18px;
    min-width: 18px;
}

.badges {
    float: right;
    word-break: keep-all;
    width: 120px;
    text-align: right;
}

.remove {
    cursor: pointer;
    background: red !important;
}

h6 {
    color: #fff;
}

.animate__animated {
    animation-duration: .1s;
}
