<article class="animate__animated animate__fadeIn pt-4">
    <div class="p-3 text-start">
        <button (click)="loadCreateMediaForm()" class="btn btn-accent" type="button">Add media</button>
        <!-- Media Set -->
        <h6 class="mt-3 mb-2 ms-2">Media set</h6>
        <ul (cdkDropListDropped)="dropMediaItem($event)" cdkDropList class="list-group mt-3">
            <li *ngFor="let media of this.mediaSet; let mediaIndex = index"
                [cdkDragDisabled]="this.postEditMode && this.isFetching" cdkDrag class="list-group-item">

                <!-- Media Info and controls -->
                <div>
                    <span class="filename">{{ media.mediaFile.name }}</span>

                    <span class="badges">
                        <span (click)="loadCreateMediaSourceForm(media)"
                              class="badge bg-dark badge-pill">Add source</span>

                        <span class="badge badge-primary badge-pill">{{ mediaIndex }}</span>
                        <span (click)="onMediaRemove(mediaIndex)"
                              [class.disabled]="this.postEditMode && this.isFetching" class="badge badge-pill remove">
                            <!-- Spinner -->
                            <fa-icon *ngIf="this.postEditMode && isFetching" [fixedWidth]="true" [icon]="spinnerIcon"
                                     [spin]="true"
                                     class="text-white" size="sm"></fa-icon>
                            <!-- Remove symbol -->
                            <span *ngIf="!this.postEditMode || (this.postEditMode && !isFetching)">x</span>
                        </span>
                    </span>
                </div>

                <div class="clearfix"></div>

                <!-- Sources -->
                <div>
                    <app-media-source-item *ngFor="let source of media.sources; let sourceIndex = index"
                                           [mediaIndex]="mediaIndex" [sourceIndex]="sourceIndex"
                                           [source]="source"></app-media-source-item>
                </div>
            </li>
        </ul>
        <button (click)="loadCreateAttachmentForm()" class="btn btn-accent mt-3" type="button">Add attachment</button>
        <!-- Attachments -->
        <h6 class="mt-3 mb-2 ms-2">Attachments</h6>
        <ul class="list-group mt-3">
            <li *ngFor="let attachment of this.attachments; let attachmentIndex = index"
                class="list-group-item">

                <!-- Attachment Info and controls -->
                <div>
                    <span class="filename">{{ attachment.file.name }}</span>

                    <span class="badges">
                        <span (click)="loadCreateAttachmentSourceForm(attachment)" class="badge bg-dark badge-pill">Add source</span>

                        <span (click)="onAttachmentRemove(attachmentIndex)"
                              [class.disabled]="this.postEditMode && this.isFetching" class="badge badge-pill remove">
                            <!-- Spinner -->
                            <fa-icon *ngIf="this.postEditMode && isFetching" [fixedWidth]="true" [icon]="spinnerIcon"
                                     [spin]="true" class="text-white" size="sm"></fa-icon>
                            <!-- Remove symbol -->
                            <span *ngIf="!this.postEditMode || (this.postEditMode && !isFetching)">x</span>
                        </span>
                    </span>
                </div>

                <div class="clearfix"></div>

                <!-- Sources -->
                <div>
                    <!-- Sources Spinner -->
                    <div *ngIf="attachment.sourcesFetchingStatus === WrapperSourcesFetchingStatus.IN_PROGRESS"
                         class="text-center">
                        <fa-icon [icon]="spinnerIcon" [spin]="true"
                                 class="me-1" size="sm"></fa-icon>
                    </div>

                    <app-attachment-source-item *ngFor="let source of attachment.sources; let sourceIndex = index"
                                                [attachmentIndex]="attachmentIndex" [sourceIndex]="sourceIndex"
                                                [source]="source"></app-attachment-source-item>
                </div>
            </li>
        </ul>
        <!-- Submit -->
        <div class="mt-4 text-center">
            <button (click)="onNextStep()"
                    [disabled]="mediaSet.length == 0"
                    class="btn btn-accent p-3 pt-2 pb-2">Next
            </button>
        </div>
    </div>
</article>
