<nav class="navbar navbar-expand-md navbar-dark shadow">
    <button (click)="onMenuToggle()" class="navbar-toggler" type="button">
        <fa-icon [fixedWidth]="true" [icon]="menuToggleIcon"
                 class="ps-2 text-white-50"></fa-icon>
    </button>

    <form #menuRef [formGroup]="sortForm" class="collapse navbar-collapse">
        <ul>
            <li class="nav-item">
                <label class="h4" for="size">Page size</label>
                <input (change)="onChanges()" (focusout)="onChanges()" [value]="size" formControlName="size" id="size"
                       class="form-input" placeholder="Size" type="number"/>
            </li>
            <li class="nav-item">
                <label class="h4" for="sortBy">Sort by</label>
                <select (change)="onChanges()" class="form-input" formControlName="sortBy" id="sortBy">
                    <option value="createDate">Create date</option>
                </select>
            </li>
            <li class="nav-item">
                <label class="h4" for="order">Sort direction</label>
                <select (change)="onChanges()" class="form-input" formControlName="order" id="order">
                    <option value="desc">Descending</option>
                    <option value="asc">Ascending</option>
                </select>
            </li>
            <li class="text-center">
                <button (click)="onCreatePost()" class="btn btn-accent" type="button">Create post</button>
            </li>
        </ul>

    </form>
</nav>
