<!-- TODO Make responsive -->

<nav class="shadow">
    <form [formGroup]="sortForm">
        <ul>
            <li>
                <label class="h4" for="size">Page size</label>
                <input (change)="onChanges()" (focusout)="onChanges()" [value]="size" formControlName="size" id="size"
                       placeholder="Size" type="number"/>
            </li>
            <li>
                <label class="h4" for="sortBy">Sort by</label>
                <select (change)="onChanges()" formControlName="sortBy" id="sortBy">
                    <option value="createDate">Create date</option>
                </select>
            </li>
            <li>
                <label class="h4" for="order">Sort direction</label>
                <select (change)="onChanges()" formControlName="order" id="order">
                    <option value="desc">Descending</option>
                    <option value="asc">Ascending</option>
                </select>
            </li>
        </ul>
    </form>
</nav>
