<div #backdrop class="modal-backdrop position-fixed animate__animated animate__fadeIn"></div>

<section #section class="animate__animated animate__fadeIn">
    <div class="row justify-content-center">
        <!-- Left -->
        <div class="col-lg-5 col-md-4 left h-auto p-5 text-white">
            <div class="front">
                <ng-template #currentSideStep></ng-template>
            </div>
            <div class="back user-select-none">
                <img alt="furrify banner" class="banner" src="../../../assets/auth-logo.png"/>
                <div class="mt-5">
                    <h1 class="h1 font-weight-bolder">STORE,</h1>
                    <h1 class="h1 font-weight-bolder">MANAGE,</h1>
                    <h1 class="h1 font-weight-bolder">SEARCH.</h1>
                    <p>Grow your own collection.</p>
                </div>
            </div>
        </div>
        <!-- Right -->
        <div class="col-lg-5 col-md-4 right h-auto p-3 position-relative">
            <div>
                <button (click)="onClose()" [disabled]="isFetching" class="btn close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-post-create-steps-menu></app-post-create-steps-menu>
            <!-- Error message -->
            <div *ngIf="!!errorMessage" class="text-center mt-4">
                <p class="alert-danger d-inline-block p-3 m-0">
                    <span>{{ errorMessage }}</span>
                </p>
            </div>

            <ng-template #currentStep></ng-template>
        </div>
    </div>
</section>
