.modal-backdrop {
    z-index: 10;
}

section {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.close {
    background: transparent;
    border: none;
    position: absolute;
    top: .75rem;
    right: .75rem;
    outline: none;
    color: #fff;
    font-size: 1.5em;
    z-index: 11;
}

.row {
    min-height: 600px;
    max-width: 100vw;
    margin: 0;
}

.row .right {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 11;
    background: #272727;
}

.row .left {
    position: relative;
    background-image: url("../../../assets/auth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    min-height: 430px;
    z-index: 11;
}

.row .left .back {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 10%;
    z-index: -1;
}

.row .left .front {
    position: relative;
    z-index: 12;
    height: 100%;
    width: 100%;
}

.row .left .back {
    z-index: 11;
}

.animate__animated {
    animation-duration: .1s;
}

@media (max-width: 768px) {
    .row .left {
        border-top-right-radius: 8px !important;
    }

    .row .right {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 8px !important;
    }
}
