.container {
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    flex-grow: 1;
    background: rgba(50, 50, 50, 0.9);
    color: #fff;
    margin: 6px;
    animation-duration: .2s;
}

.avatar img {
    height: 248px;
    width: 248px;
    border-radius: 100%;
    user-select: none;
    cursor: zoom-in;
}


.sources {
    list-style-type: none;
}
