<form (ngSubmit)="onSearchQuery()" [formGroup]="searchForm" class="search">
    <div class="input">
        <!-- Search icon -->
        <div class="border">
            <fa-icon [icon]="(isSearching) ? circleNotchIcon : searchIcon" [spin]="isSearching"
                     class="search-icon"></fa-icon>
        </div>
        <!-- Search input -->
        <input formControlName="query" placeholder="Search" type="text">
        <!-- Clear icon -->
        <div class="border reverse">
            <fa-icon (click)="clearSearchQuery()" *ngIf="isSearchFilled" [icon]="timesCircleIcon"
                     class="clear-icon animate__animated animate__fadeIn"></fa-icon>
        </div>
    </div>
</form>
