/* Search */

.search {
    display: inline-block;
    margin: 0 30px 0 30px;
}

.search .input {
    height: 62px;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.search .input input[type=text] {
    outline: 0;
    background: rgba(50, 50, 50, 0.9);
    color: rgba(255, 255, 255, 0.9);
    padding-right: 15px;
    font-size: 15px;
    min-width: 300px;
    height: 36px;
    border: 0;
    transition: .2s all ease;
}

.search:focus-within .input input[type=text] {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(32, 32, 32, 0.9);
}

.search .input .border {
    display: flex;
    height: 36px;
    min-width: 36px;
    padding: 0 10px 0 10px;
    border-radius: 22px 0 0 22px;
    border-color: transparent !important;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(50, 50, 50, 0.9);
    align-items: center;
    justify-content: center;
    transition: .2s all ease;
}

.search .input .border.reverse {
    border-radius: 0 22px 22px 0;
}

.search:focus-within .input .border {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(32, 32, 32, 0.9);
}

.search .input fa-icon.clear-icon {
    cursor: pointer;
    animation-duration: .1s;
}
