nav.paginator {
    display: block;
    text-align: center;
    user-select: none;
}

nav.paginator ul {
    display: inline-block;
    color: #fff;
    background: rgba(66, 66, 66, 0.7);
    border-radius: 6px;
    padding: 12px 2px;
    margin: 20px 0;
}

nav.paginator ul li {
    display: inline-block;
    font-weight: bold;
    margin: 0 5px;
    padding: 6px 10px;
    cursor: pointer;
    transition: .2s background-color ease;
}

nav.paginator ul li.active {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    cursor: auto;
}
