section {
  padding: 0 15px;
}

.login-form {
  text-align: center;
  width: 100%;
  padding: 80px 0;
}

.login-form p.or {
  padding: 50px;
  font-weight: bold;
  user-select: none;
}

section .name {
  padding: 0 15px;
  margin-top: 25px;
  margin-bottom: 0;
}

section .hint {
  margin-top: 6px;
  padding: 0 15px;
  font-size: 0.9em;
  color: #3c3c3c
}

section p.terms {
  margin-top: 100px;
  font-weight: lighter;
  color: #3c3c3c;
}

.btn {
  display: inline-flex;
  line-height: 23px;
  height: 42px;
  background: black;
  outline: 0;
  border: 0;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;
  transition: .1s box-shadow ease;
}

.btn:focus {
  -webkit-tap-highlight-color: transparent;
}

.btn:focus-within {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.8);
}

.btn span {
  padding-left: 15px;
  font-weight: bold;
  font-size: 1.2em;
}
