<section>
    <h2 class="name">Sign In</h2>
    <p class="hint">Authenticate to access your content.</p>
    <div class="login-form">
        <button (click)="signIn()" class="btn">
            <img alt="furrify logo" src="../../../assets/btn-logo.png"/>
            <span>Sign In using FurrifyAuth</span>
        </button>

        <p class="or">or</p>

        <button (click)="signUp()" class="btn">
            <img alt="furrify logo" src="../../../assets/btn-logo.png"/>
            <span>Sign Up using FurrifyAuth</span>
        </button>

        <p class="terms">By authenticating you agree to our terms of use.</p>
    </div>
</section>
