section {
    background: rgba(24, 24, 24, 0.89);
    background: linear-gradient(315deg, rgba(50, 50, 50, 0.89) 0%, rgba(38, 38, 38, 0.89) 60%, rgba(30, 30, 30, 0.89) 100%);
    z-index: -1;
    padding-top: 62px;
    min-height: 100vh;
    text-align: center;
    clear: both;
}

.bg {
    position: fixed;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    filter: blur(12px);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    transition: opacity .25s ease;
}
