article {
    background: #272727;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.close {
    position: absolute;
    top: 16px;
    right: 18px;
    outline: none;
    color: #fff;
    font-size: 1.5em;
}

h1 {
    color: #fff;
    font-size: 3em;
}

textarea {
    min-height: 85px;
}

.animate__animated {
    animation-duration: .1s;
}
