<article #article class="animate__animated animate__fadeIn p-4 h-100 border-right">
    <div>
        <button (click)="onClose()" class="btn close p-1" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h1 class="display-4 mb-4 mt-4">Media Create</h1>

    <!-- Error message -->
    <div *ngIf="!!errorMessage" class="text-center">
        <p class="alert-danger d-inline-block p-3">
            <span>{{ errorMessage }}</span>
        </p>
    </div>

    <form [formGroup]="mediaFileForm" class="p-3">
        <div>

            <!-- Thumbnail upload -->
            <form [formGroup]="mediaThumbnailFileForm" class="mb-3">
                <!-- Workaround for styling input[type=file] -->
                <label class="form-input file" for="thumbnailFile">
                    <fa-icon [icon]="uploadIcon" class="me-1"></fa-icon>
                    <span
                        [innerText]="(!!this.selectedThumbnailFile) ? selectedThumbnailFile.name : 'Select thumbnail (optional)'"></span>
                </label>

                <input (change)="onThumbnailFileSelected($event)" class="d-none" formControlName="thumbnailFile"
                       id="thumbnailFile" type="file">
            </form>

            <div class="mb-3">
                <!-- Workaround for styling input[type=file] -->
                <label class="form-input file" for="mediaFile">
                    <fa-icon [icon]="uploadIcon" class="me-1"></fa-icon>
                    <span [innerText]="(!!this.selectedMediaFile) ? selectedMediaFile.name : 'Select media'"></span>
                </label>

                <input (change)="onMediaFileSelected($event)" formControlName="mediaFile" id="mediaFile" type="file">
            </div>
            <button (click)="onSubmit()" [disabled]="!mediaFileForm.valid"
                    class="btn btn-accent">
                <span>Create</span>
            </button>
        </div>
    </form>
</article>
