<article #article class="animate__animated animate__fadeIn p-4 h-100 border-right">
    <div>
        <button (click)="onClose()" class="btn close p-1" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h1 class="display-4 mb-4 mt-4">Attachment Create</h1>

    <!-- Error message -->
    <div *ngIf="!!errorMessage" class="text-center">
        <p class="alert alert-danger d-inline-block p-3">
            <span>{{ errorMessage }}</span>
        </p>
    </div>

    <form [formGroup]="addFileForm" class="p-3">
        <p (dragenter)="onFileDragEnter()"
           (dragleave)="onFileDragLeave()" (dragover)="onFileDragOver($event)"
           (drop)="onFileDrop($event)" appDropArea class="p-5">Drop file here to upload.</p>

        <div class="mb-3">
            <!-- Workaround for styling input[type=file] -->
            <label class="form-input file" for="file">
                <fa-icon [icon]="uploadIcon" class="me-1"></fa-icon>
                <span
                    [innerText]="this.filePickerLabel"></span>
            </label>

            <input (change)="onFileSelected($event)" formControlName="attachmentFile" id="file"
                   type="file">
        </div>
        <button (click)="onSubmit()" [disabled]="!selectedFile"
                class="btn btn-accent">
            <span>Create</span>
        </button>
    </form>
</article>
