.badge {
    user-select: none;
}

.badge.bg-red {
    cursor: pointer;
    background: red !important;
}

.tag a:hover, .artist a:hover {
    text-decoration: none;
}

.artist {
    background: #37115a;
}

textarea {
    min-height: 85px;
}
