<article class="animate__animated animate__fadeIn pt-2">
    <form [formGroup]="postInfoForm" class="p-3">
        <!-- Title -->
        <div class="mt-2">
            <input (change)="onTitleValueChange()" class="form-input" formControlName="title" placeholder="Title"
                   type="text"/>
        </div>
        <!-- Description -->
        <div class="mt-3">
            <textarea (change)="onDescriptionValueChange()" class="form-input" formControlName="description"
                      placeholder="Description"></textarea>
        </div>
        <!-- Tags -->
        <form [formGroup]="tagSelectForm" class="mt-3">
            <div class="form-input text-start h-auto">

                <span (click)="loadCreateTagForm(tagWrapper)" *ngFor="let tagWrapper of selectedTags"
                      [appColoredTag]="tagWrapper.tag.type"
                      [ngClass]="tagWrapper.status !== WrapperStatus.NOT_QUERIED && tagWrapper.status === WrapperStatus.NOT_FOUND ? 'bg-red' : ''"
                      class="tag badge badge-dark me-1">

                        <fa-icon *ngIf="tagWrapper.status === WrapperStatus.NOT_QUERIED" [icon]="spinnerIcon"
                                 [spin]="true"
                                 class="me-1"></fa-icon>

                        <a class="text-white">{{ tagWrapper.tag.value }}</a>

                        <fa-icon (click)="onTagRemove(tagWrapper)" [icon]="timesIcon"
                                 class="ms-1" style="cursor: pointer"></fa-icon>
                    </span>

                <input (keyup.enter)="onTagSelectSubmit()"
                       class="form-input border-0 d-inline-block m-0 p-0"
                       formControlName="tag"
                       placeholder="Tag value" type="text"/>

            </div>
        </form>
        <!-- Artists -->
        <form [formGroup]="artistSelectForm" class="mt-3">
            <div class="form-input text-start">

                <input (keyup.enter)="onArtistSelectSubmit()"
                       class="form-input border-0 d-inline-block m-0 p-0"
                       formControlName="artist"
                       placeholder="Artist value" type="text"/>

                <!-- TODO Make it responsive -->
                <ul class="artists ps-1 pe-1">
                    <li *ngFor="let artistWrapper of selectedArtists" class="mt-1 text-end">
                        <!-- Artist -->
                        <span (click)="loadCreateArtistForm(artistWrapper)"
                              [class.artist]="artistWrapper.status === WrapperStatus.FOUND"
                              [class.bg-red]="artistWrapper.status !== WrapperStatus.NOT_QUERIED && artistWrapper.status === WrapperStatus.NOT_FOUND ? 'bg-red' : ''"
                              class="badge badge-dark bg-gray me-1 mt-1 p-2 float-start">

                            <!-- Spinner -->
                            <fa-icon *ngIf="artistWrapper.status === WrapperStatus.NOT_QUERIED" [icon]="spinnerIcon"
                                     [spin]="true"
                                     class="me-1" size="sm"></fa-icon>

                            <span class="filename">{{ artistWrapper.artist.preferredNickname }}</span>

                        </span>

                        <div class="options">
                            <span (click)="loadCreateArtistSourceForm(artistWrapper)"
                                  *ngIf="artistWrapper.status === WrapperStatus.FOUND"
                                  class="badge bg-dark badge-pill add-source me-2">Add source</span>

                            <span (click)="onArtistRemove(artistWrapper)" class="badge badge-pill remove">x</span>
                        </div>
                        <div class="clearfix"></div>


                        <!-- Sources Spinner -->
                        <div *ngIf="artistWrapper.sourcesFetchingStatus === WrapperSourcesFetchingStatus.IN_PROGRESS"
                             class="text-center">
                            <fa-icon [icon]="spinnerIcon" [spin]="true"
                                     class="me-1" size="sm"></fa-icon>
                        </div>

                        <!-- Sources -->
                        <div class="text-start ">
                            <app-artist-source-item
                                *ngFor="let source of artistWrapper.sources"
                                [artistId]="artistWrapper.artist.artistId" [source]="source"></app-artist-source-item>
                        </div>
                    </li>
                </ul>

            </div>
        </form>
        <!-- Submit -->
        <div class="mt-4">
            <button (click)="onNextStep()"
                    [disabled]="!postInfoForm.valid ||
                    selectedTags.length == 0 ||
                    selectedArtists.length == 0"
                    class="btn btn-accent">Next
            </button>
        </div>
    </form>
</article>
