.badge {
    user-select: none;
}

.bg-red {
    cursor: pointer;
    background: red !important;
}

.tag a:hover, .artist a:hover {
    text-decoration: none;
}

.artist {
    background: #37115a;
}

textarea {
    min-height: 85px;
}

.animate__animated {
    animation-duration: .1s;
}

.create-source {
    cursor: pointer;
}

.artists {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.remove {
    cursor: pointer;
    background: red !important;
}

.options {
    line-height: 34px;
    text-align: right;
    width: 100%;
}

.add-source {
    cursor: pointer;
}
