<div class="post shadow-lg animate__animated animate__fadeIn">
    <div class="badges">
        <span *ngFor="let tag of movieTags" [appColoredTag]="tag.type" class="badge">
            <a (click)="searchPosts()" [queryParams]="{ query: '#' + tag.value }" [routerLink]="['/posts']">
                {{ tag.value | slice:0:36 }}
            </a>
        </span>

        <span *ngFor="let tag of characterTags" [appColoredTag]="tag.type" class="badge">
            <a (click)="searchPosts()" [queryParams]="{ query: '#' + tag.value }" [routerLink]="['/posts']">
                {{ tag.value | slice:0:36 }}
            </a>
        </span>
    </div>
    <a (click)="selectPost(post)" [routerLink]="['/posts', post.postId, 'media', 0]" queryParamsHandling="merge">
        <span class="icons">
            <fa-icon *ngIf="mediaSetContains(imageType)" [fixedWidth]="true" [icon]="imageIcon"
                     class="text-white pb-1 pt-1"
                     size="sm"></fa-icon>
            <fa-icon *ngIf="mediaSetContains(videoType)" [fixedWidth]="true" [icon]="videoIcon"
                     class="text-white pb-1 pt-1"
                     size="sm"></fa-icon>
            <fa-icon *ngIf="mediaSetContains(animationType)" [fixedWidth]="true" [icon]="animationIcon"
                     class="text-white pb-1 pt-1"
                     size="sm"></fa-icon>
            <fa-icon *ngIf="mediaSetContains(audioType)" [fixedWidth]="true" [icon]="audioIcon"
                     class="text-white pb-1 pt-1"
                     size="sm"></fa-icon>
        </span>
        <img [src]="thumbnailUri" alt="post thumbnail" class="thumbnail img-fluid"/>
    </a>
</div>
