<div class="animate__animated animate__fadeIn steps text-center">
    <div #firstStepCircle (click)="onPostInfoStepClicked()" class="circle">
        <p class="step">1</p>
        <p class="name">Info</p>
    </div>

    <div class="dash"></div>

    <div #secondStepCircle (click)="onPostContentStepClicked()" class="circle">
        <p class="step">2</p>
        <p class="name" style="margin-left: -14px">Content</p>
    </div>

    <div class="dash"></div>

    <div #thirdStepCircle (click)="onPostContentUploadStepClicked()" class="circle">
        <p class="step">3</p>
        <p class="name" style="margin-left: -10px">Upload</p>
    </div>
</div>
