nav {
    background: rgba(255, 255, 255, 0.05);
    min-height: 62px;
    z-index: 10;
    padding: 0;
}

@media (max-width: 992px) {
    /* Menu */
    nav {
        background: rgba(66, 66, 66, 0.7);
        text-align: center;
    }

    nav .collapse {
        background: rgba(66, 66, 66, 0.7);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        padding: 0 !important;
        margin: 0;
    }

    nav .collapse ul {
        padding-top: 20px;
        display: inline-block;
    }

    nav .user-container {
        height: 50px;
        padding-bottom: 10px;
    }

    nav .user-container ul {
        padding: 0;
        margin: 0;
    }

    nav .user-container li {
        margin: 0;
    }
}

.navbar-brand {
    display: inline-flex;
    line-height: 62px;
    height: 62px;
    padding: 0 10px 0 10px;
    justify-content: center;
    align-items: center;
}

.navbar-brand .banner {
    height: 32px;
    width: auto;
}

.navbar-nav {
    user-select: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.9);
}

.nav-link {
    font-weight: 400;
    transition: box-shadow 0.2s ease-in-out;
}

.nav-link.active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.dropdown-menu {
    margin-top: 8px;
    border-radius: 0;
}

.avatar {
    height: 30px;
    border-radius: 20px;
    object-fit: cover;
}

.dropdown-menu {
    background: rgba(50, 50, 50, 0.9);
}

.dropdown-item {
    color: darkgray;
}

.dropdown-item:hover {
    color: gray;
}

.dropdown-item:hover, .dropdown-item:focus {
    background: none;
}

.user {
    display: inline-block;
    margin-right: 20px;
    height: 62px;
    cursor: pointer;
    float: right;
}

.user .content {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.user .content img {
    margin-top: 13px;
    height: 34px;
    border-radius: 100%;
}

.user .content fa-icon {
    color: rgba(255, 255, 255, 0.9);
    margin-left: 10px;
    margin-top: 13px;
    transition: .2s all ease;
}

.user .content fa-icon.active {
    transform: scaleY(-1);
}

.user .dropdown-menu {
    display: none;
    position: absolute;
    margin-top: 25px;
    margin-left: -80px;
    border-radius: 16px;
    padding: 10px;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
    animation-duration: .3s;
}

.user .dropdown-menu.active {
    display: inline-block;
}

.user .dropdown-menu a {
    display: block;
    font-weight: bold;
    padding: 10px;
}

.user .dropdown-menu a:first-of-type {
    padding-top: 5px;
}

.user .dropdown-menu p {
    font-size: 0.9em;
    font-weight: bold;
    color: #6b6b6b;
    padding: 10px 0 0 10px;
    cursor: auto;
}
