<nav>
    <!-- Banner -->
    <div class="banner">
        <a [routerLink]="['/']">
            <img alt="furrify banner" src="./assets/banner-small.png"/>
        </a>
    </div>
    <!-- Search form -->
    <app-search></app-search>
    <!-- User -->
    <div #menu class="user">
        <div (click)="toggleMenu()" class="content">
            <img alt="user avatar" src="./assets/user-default.jpg"/>
            <fa-icon [class.active]="isMenuOpened" [icon]="caretDownIcon"></fa-icon>
        </div>
        <nav [class.active]="isMenuOpened" class="menu animate__animated animate__fadeInUp">
            <p>{{ username }}</p>
            <a>Profile</a>
            <a>Settings</a>
            <a (click)="logout()">Logout</a>
        </nav>
    </div>
</nav>
