nav {
    position: fixed;
    height: 62px;
    background-color: #151515;
    background-position-y: 6px;
    z-index: 10;
    user-select: none;
    width: 100%;
}

/* Banner */

.banner {
    display: inline-block;
    line-height: 80px;
    height: 62px;
    padding: 0 10px 0 10px;
    float: left;
}

.banner img {
    height: 32px;
    width: auto;
}

/* User */

.user {
    display: inline-block;
    margin-right: 20px;
    height: 62px;
    cursor: pointer;
    float: right;
}

.user .content {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.user .content img {
    margin-top: 13px;
    height: 38px;
    border-radius: 100%;
}

.user .content fa-icon {
    color: rgba(255, 255, 255, 0.9);
    margin-left: 10px;
    margin-top: 13px;
    transition: .2s all ease;
}

.user .content fa-icon.active {
    transform: scaleY(-1);
}

/* Menu */
.user .menu {
    display: none;
    position: absolute;
    margin-top: 20px;
    margin-left: -100px;
    border-radius: 16px;
    padding: 10px;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
    animation-duration: .25s;
}

.user .menu.active {
    display: inline-block;
}

.user .menu a {
    display: block;
    font-weight: bold;
    padding: 10px;
}

.user .menu a:first-of-type {
    padding-top: 5px;
}

.user .menu p {
    font-size: 0.9em;
    font-weight: bold;
    color: #494949;
    padding: 0 0 0 10px;
}
