.post {
    background: rgba(50, 50, 50, 0.9);
}

.media {
    display: inline-block;
    max-height: 80vh;
    cursor: zoom-in;
}

.watermark {
/*    TODO Watermark
    background: #202020 url("src/assets/img/watermark.png") no-repeat center;*/
    background-size: 50% auto;
    z-index: -1;
    background-origin: content-box;
}

.spinner {
    display: none;
    width: 100%;
    text-align: center;
    height: 600px;
    line-height: 600px;
    transition: all .3s ease;
}
