.post {
    background: rgba(50, 50, 50, 0.9);
}

.media {
    display: inline-block;
    max-height: 80vh;
    cursor: zoom-in;
}

.media-spinner {
    display: none;
    width: 100%;
    text-align: center;
    height: 600px;
    line-height: 600px;
    transition: all .3s ease;
}

.spinner {
    transition: all .3s ease;
}

.sources {
    list-style-type: none;
}
