<app-gallery-view></app-gallery-view>

<article class="post shadow rounded">
    <div class="tags p-1 pb-2 ps-2 pe-2">
        <!-- Tags -->
        <span *ngFor="let tag of sortedTags" [appColoredTag]="tag.type" class="badge badge-dark tag ms-1">
            <a (click)="searchPosts()" [queryParams]="{ query: '#' + tag.value }" [routerLink]="['/posts']"
               class="text-white"
               queryParamsHandling="merge">{{ tag.value }}</a>
          </span>
    </div>
    <!-- Media -->
    <div class="text-center">
        <div #videoView>
            <video *ngIf="this.post.mediaSet.length != 0" [poster]="posterUrl"
                   class="video-js vjs-default-skin vjs-16-9" controls id="audio-player"
                   preload="auto">
            </video>
        </div>

        <img #imageView (click)="openImageGallery()" (load)="onImageLoaded()" *ngIf="this.post.mediaSet.length != 0"
             alt="post media" class="img-fluid media"/>
        <fa-icon #mediaSpinner [icon]="circleNotchIcon" [spin]="true" class="media-spinner" size="3x"></fa-icon>
    </div>
    <div class="post-info p-3">
        <div>
            <p class="h1">{{ post.title }}</p>
            <p class="p-1">{{ post.description }}</p>
            <p class="h1 font-weight-light">Sources</p>
            <!-- Selected Media sources -->
            <ul *ngIf="this.sortedMedia[this.index] !== undefined" class="p-1">
                <li *ngIf="areSourcesFetching" class="text-center">
                    <fa-icon [icon]="circleNotchIcon" [spin]="true" class="spinner" size="3x"></fa-icon>
                </li>

                <li *ngFor="let source of mediaSources" class="rounded-pill source p-2 d-inline me-1">

                    <a
                        class="text-decoration-none text-white"
                        [appSourceToHref]="source">{{ source.strategy | removeText:'SourceStrategy' }}</a>
                </li>
            </ul>
        </div>
    </div>
</article>
