<article class="post shadow rounded">
    <div class="tags p-1 pb-2 ps-2 pe-2">
        <!-- Tags -->
        <span *ngFor="let tag of sortedTags" [appColoredTag]="tag.type" class="badge badge-dark tag ms-1">
            <a [queryParams]="{ query: '#' + tag.value }" [routerLink]="['/posts']" class="text-white"
               queryParamsHandling="merge">{{ tag.value }}</a>
          </span>
    </div>
    <!-- Media -->
    <div class="text-center">
        <img #mediaView (load)="onMediaLoaded()" *ngIf="this.post.mediaSet.length != 0" alt="post media"
             class="img-fluid media" style="cursor: zoom-in "/>
        <fa-icon #mediaSpinner [icon]="circleNotchIcon" [spin]="true" class="spinner" size="3x"></fa-icon>
    </div>
    <div class="post-info p-3">
        <div class="watermark">
            <p class="h1">{{ post.title }}</p>
            <p class="p-1">{{ post.description }}</p>
            <p class="h1 font-weight-light">Sources</p>
            <!-- Selected Media sources -->
            <ul *ngIf="this.sortedMedia[this.index] !== undefined" class="p-1">
                <!-- TODO Implement href for source, and think if post even needs one or should media only -->
                <li *ngFor="let source of sortedMedia[index].sources" class="rounded-pill p-2 d-inline me-1 bg-violet">
                    <a
                        class="text-decoration-none text-white"
                        href="#">{{ source.strategy | removeText:'SourceStrategy' }}</a>
                </li>
            </ul>
        </div>
    </div>
</article>
