.post-items-list {
    background: rgba(50, 50, 50, 0.9);
}

.post-items-list {
    display: block;
    user-select: none;
}

.post-items-list .media {
    display: inline-block;
    width: 110px;
    height: 110px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
}

.post-attachments {
    display: block;
}

.post-attachments .icon {
    user-select: none;
    height: 28px;
}

.post-attachments .attachment-info {
    display: inline-block;
    list-style-type: none;
}

.post-artists .artists {
    display: block;
    list-style-type: none;
}

.post-artists .artists .artist {
    display: inline-block;
    font-weight: bold;
}

.post-artists .artists .avatar {
    display: inline-block;
    object-fit: cover;
    object-position: center;
    width: 64px;
    height: 64px;
}

.icons {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin: .25rem;
    padding-left: .25rem;
    padding-right: .25rem;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    color: rgba(255, 255, 255, 0.9);
}

.icons fa-icon {
    padding-left: 2px;
    padding-right: 2px;
}

.attachment-link {
    color: aquamarine;
}

.sources {
    list-style-type: none;
}
