<aside class="post-items">
    <!-- Media List -->
    <h1 class="title">Media</h1>
    <div class="set-left">
        <div class="post-media-set">
            <img (click)="onLoadMediaRequest(media)" *ngFor="let media of sortedMedia"
                 [src]="media.thumbnailUrl"
                 alt="media thumbnail" class="media"/>
        </div>
    </div>
    <!-- Attachments -->
    <h1 class="title">Attachment</h1>
    <div class="post-attachments">
        <div *ngFor="let attachment of post.attachments" class="attachments">
            <ul class="attachment-info">
                <li>
                    <img [appAttachmentIcon]="attachment.extension" alt="attachment icon" class="icon"/>
                    <a [href]="attachment.fileUrl" target="_blank">{{ attachment.filename }}</a>
                </li>
                <!--                <li>
                                    <ul class="sources">
                                        <li *ngFor="let source of attachment.sources" class="p-2 d-inline ml-n1 mr-2 bg-violet rounded-pill"><a
                                            [href]="getSourceURL(source.sourceStrategy, source.sourceInfo)"
                                            class="text-white text-decoration-none">{{ source.sourceStrategy | removeText:'SourceStrategy' }}</a>
                                        </li>
                                    </ul>
                                </li>-->
            </ul>
        </div>
    </div>
    <!-- Creators -->
    <!--    <p class="h1 font-weight-light p-1">Cr</p>
        <div class="post-creators p-1 justify-content-start">
            <ul class="creators p-0">
                <li *ngFor="let creator of post.creators" class="creator text-center rounded mr-3">
                    <a [routerLink]="['/creators', creator.creatorId]" class="text-decoration-none">
                        <img [src]="creator.cover.thumbnailFileURL" alt="creator avatar cover" class="avatar rounded-circle"/>
                        <p class="mb-0 mt-1 text-white font-weight-bolder">{{ creator.username }}</p>
                    </a>
                </li>
            </ul>
        </div>

        <div *ngIf="hasReplacePostPermission()" class="p-1 justify-content-start">
            <button (click)="onEditPost()" class="btn btn-outline-light">Edit Post</button>
        </div>-->

</aside>
