<aside class="post-items-list p-3 shadow rounded">
    <!-- Media List -->
    <p class="h1 font-weight-light p-1">Media</p>
    <div class="post-media-list">
        <!-- Media -->
        <div *ngFor="let media of sortedMedia; let index = index" class="d-inline-block">
            <!-- Media type icon -->
            <span class="icons">
                <fa-icon [fixedWidth]="true" [icon]="getIconFromMedia(index)"
                         class="text-white pb-1 pt-1" size="sm"></fa-icon>
            </span>
            <!-- Thumbnail -->
            <img (click)="onLoadMediaRequest(index)"
                 [src]="(!media.thumbnailUri) ? '../../assets/no-thumbnail.jpg' : cdnAddress + media.thumbnailUri"
                 alt="media thumbnail" class="media m-1"/>
        </div>
    </div>
    <!-- Attachments -->
    <p class="h1 font-weight-light p-1 mt-4">Attachment</p>
    <div class="post-attachments p-1 justify-content-start">
        <div *ngFor="let attachment of post.attachments; let index = index" class="attachment">
            <ul class="attachment-info p-1">
                <li class="infs">
                    <img [appAttachmentIcon]="attachment.extension" alt="attachment icon" class="icon me-2"/>
                    <a [href]="cdnAddress + attachment.fileUri" class="attachment-link text-decoration-none"
                       target="_blank">{{ attachment.filename }}</a>
                </li>
                <li>
                    <ul class="mt-2">
                        <li *ngIf="areAttachmentsSourcesFetching" class="text-center">
                            <fa-icon [icon]="circleNotchIcon" [spin]="true" class="spinner" size="3x"></fa-icon>
                        </li>

                        <li *ngFor="let source of attachmentSources[index]"
                            class="rounded-pill source p-2 d-inline me-1">

                            <a
                                [appSourceToHref]="source"
                                class="text-decoration-none text-white">{{ source.strategy | removeText:'SourceStrategy' }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Artists -->
    <p class="h1 font-weight-light p-1">Artists</p>
    <div class="post-artists p-1 justify-content-start">
        <ul class="artists p-0">
            <li *ngFor="let artist of post.artists" class="artist rounded me-3 mt-2">
                <a [routerLink]="['/artists', artist.artistId]" class="text-decoration-none text-center d-inline-block">
                    <img
                        [src]="(!!artist.thumbnailUri) ? cdnAddress + artist.thumbnailUri : '../assets/user-default.jpg'"
                        alt="artist avatar cover" class="avatar rounded-circle"/>
                    <p class="mb-0 mt-1 text-white font-weight-bolder">{{ artist.preferredNickname }}</p>
                </a>
            </li>

        </ul>
    </div>

    <div class="d-inline-block p-1 justify-content-start">
        <a [href]="fileUrl">
            <button class="btn btn-accent">Download</button>
        </a>
    </div>

    <div class="d-inline-block p-1 justify-content-start">
        <button (click)="onEditPost()" class="btn btn-accent">Edit Post</button>
    </div>

    <div class="d-inline-block p-1 justify-content-start">
        <button (click)="onDeletePost()" class="btn btn-danger">Delete Post</button>
    </div>
</aside>
