.post-items {
    padding: .75rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background: #202020;
    color: rgba(255, 255, 255, 0.9);
    width: 380px;
    text-align: left;
}

.set-left {
    text-align: center;
}

h1.title {
    font-weight: 300;
    line-height: 1.2;
    font-size: 2.5rem;
}

.post-media-set {
    display: grid;
    user-select: none;
    margin-top: -2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.post-media-set .media {
    width: 110px;
    height: 110px;
    object-fit: cover;
    cursor: pointer;
    margin: .25rem;
}

.post-attachments {
    display: block;
    margin-top: -3.5rem;
}

.attachment-info {
    padding: .25rem;
}

.attachment-info .sources {
    margin-top: .5rem;
}

.post-attachments .icon {
    user-select: none;
    height: 28px;
    margin-right: .5rem;
}

.post-attachments .attachment-info {
    display: inline-block;
    list-style-type: none;
}


.post-attachments ul.attachment-info li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-attachments .attachment-info a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.post-attachments ul.attachment-info img {
    height: 28px;
}


.post-creators .creators {
    display: block;
    list-style-type: none;
}

.post-creators .creators .creator {
    display: inline-block;
}

.post-creators .creators .avatar {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 64px;
    height: 64px;
}
