.background {
    position: fixed;
    background: url("../../assets/auth-bg.jpg") center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container-fluid {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    height: 100vh;
}

.row div {
    height: 650px;
}

.banner {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: url("../../assets/auth.jpg") top no-repeat;
    color: white;
    user-select: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.banner .text {
    text-align: center;
    padding: 50px 50px;
    height: auto;
}

.banner .text h1 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2em;
    margin: 7px 0;
}

.banner .text p {
    margin-top: 30px;
}

.content {
    background: #272727;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
