<article class="p-4 h-100 border-right">
    <div>
        <button (click)="onClose()" class="btn close p-1" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h1 class="display-4 mb-4 mt-4">Attachment Create</h1>
    <form [formGroup]="addFileForm" class="p-3">
        <div>
            <div class="mb-3">
                <!-- Workaround for styling input[type=file] -->
                <label class="form-input file" for="file">
                    <fa-icon [icon]="uploadIcon" class="me-1"></fa-icon>
                    <span [innerText]="(!!this.selectedFile) ? selectedFile.name : 'Select file'"></span>
                </label>

                <input (change)="onFileSelected($event)" formControlName="attachmentFile" id="file"
                       type="file">
            </div>
            <button (click)="onSubmit()" [disabled]="!addFileForm.valid"
                    class="btn btn-accent">
                <span>Create</span>
            </button>
        </div>
    </form>
</article>
