article {
    background: #272727;
}

.close {
    position: absolute;
    top: 16px;
    right: 18px;
    outline: none;
    color: #fff;
    font-size: 1.5em;
}

h1 {
    color: #fff;
    font-size: 3em;
}

input[type=file] {
    display: none;
}

label span {
    word-wrap: anywhere;
}

.animate__animated {
    animation-duration: .1s;
}
